.instruction-container {
    background-color: #EDF3F9;
    min-height: 300px;
    padding: 20px;
    margin-bottom: 5%;
}

ul {
    margin: 0px;
    padding: 0px;  

}

li {
    margin-left: 20px;
}

.list-container ul {
    border: solid;
    border-radius:2%;
    padding: 5px;
    background-color: #A6D0E3;
    margin-top: 2%;
}

.list-container {
    display: flex;
    justify-content: space-between;
    
}

.info-img-container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 35%;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: space-between; 
}

#back-btn {
    border-radius: 20px;
    background-color: #0000CD;
    font-weight: bold;
    color: white;
    font-size: 26px;
    padding: 2%;
    width: max-content;
    min-width: 25%;
    height: auto;
    margin-left: 10%;
}

#start-btn {
    border-radius: 20px;
    background-color: green;
    font-weight: bold;
    color: white;
    font-size: 26px;
    padding: 2%;
    width: max-content;
    min-width: 25%;
    height: auto;
    margin-right: 10%;
}

#back-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px black;
    border: 2px solid black;
}


#start-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px black;
    border: 2px solid black;
}

@media screen and (max-width: 1350px) {
    .list-container,
    .info-img-container,
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .info-img-container img {
        width: 50%;
        margin-top: 15px;
    }

    #back-btn,
    #start-btn {
        min-width: 50%;
        margin: 10px 0;
    }

    .list-container ul {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .instruction-container {
        padding: 10px;
    }

    .info-img-container img {
        width: 100%;
    }

    #back-btn,
    #start-btn {
        font-size: 90%;
        min-width: 80%;
    }
}



