body {    
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;  
    
}

h2 {
    margin: 25px;    
}

.questionSlideCont {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #EDF3F9;
    box-sizing: border-box;
    border-radius: 5px;
}


.mySlides {
    display: none;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: row;
}


.prev,
.next {
    width: 200px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0000CD;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: static;
    min-width: 120px;
}

.next {
    right: 0;
}

    .prev:hover,
    .next:hover {
        background-color: #2c80b4;
    }

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.answer-box {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    min-height: 200px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

    .answer-box input[type="radio"] {
        position: absolute;
        opacity: 0;        
    }

    .answer-box label {
        display: block;
        width: 100%;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        font-size: 24px;
        border-radius: 8px;
    }

    .answer-box input[type="radio"]:checked + label {
        background-color: #007bff;
        color: white;
    }

    .answer-box label:hover {
        border: 2px solid #007bff;
    }

    .answer-box input[type="radio"]:focus + label {
        outline: 3px solid black;
    }

#check-answer {
    border-radius: 10px;
    background-color: green;
    font-weight: bold;
    color: white;
    font-size: 18px;
    width: 200px;   
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 16px;    
}


@media (max-width: 600px) {
    .answer-grid {
        grid-template-columns: 1fr;
    }

    .answer-box label {
        font-size: 20px;
        padding: 10px;
    }

    #check-answer {
        width: 100%;
        max-width: 300px;
    }

    .prev,
    .next {
        width: 100%;
        max-width: 300px;
    }

    .nav-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }    
}

@media (max-width: 330px) {
    h2 {
        font-size: 14px;
    }

    .answer-box label {
        
        font-size: 14px;
        
    }
}


