@{
    ViewData["Title"] = "Om oss";

}

<link rel="stylesheet" href="/css/aboutUs.css" asp-append-version="true" />

<div class="about-us-container">    
    <h1>Om oss</h1>

    <p>
        Den här utbildningen är gjord som ett examensarbete av två studenter inom programmet Informatik med inriktning på systemutveckling på Mittuniversitetet under vårterminen 2025.
        Uppdragsgivare för utbildningen har varit Sundsvalls kommun.
    </p>
    <p>Utbildningen riktar sig primärt till kommunens medarbetare och syftar till att utbilda inom området för cyber- och informationssäkerhet, dataskydd och AI, på ett relativt lättillgängligt sätt och som uppmuntrar deltagarna till att genomföra och slutföra utbildningen.</p>
    <p>Hugo och Petter</p>
    <p>För frågor kontakta oss gärna.</p>
</div>
