@{
    ViewData["Title"] = "Tillgänglighetsinformation";

}

<link rel="stylesheet" href="/css/accessibilityInfo.css" asp-append-version="true" />


<div class="accessibility-container">
    <div class="container-info">
<h1>Tillgänglighet</h1>

        <p>Sidan är anpassad för att möta EN 301 549 och WCAG 2.1 (AA) (Web Content Accessibility Guidelines) för att säkerställa att sidan är tillgänglig.</p>
        <p>Anpassningarna har utgått från riktlinjerna tillhandahållna av Myndigheten för digital förvaltning (DIGG).</p>
        <p>Tester har gjorts på sidans innehåll och denna bedöms följa alla de riktlinjer som bedömts aktuella för denna webbplats. Testerna har utförts av utvecklarna genom egna tillgänglighetstest samt med hjälp av Lighthouse och Text Spacing Editor.</p>
        <p>Tillgänglighetssidan (denna sida) skulle dock behöva kompletteras med en tillgänglighetsredogörelse i enlighet med EN 12.1.</p>        
        <p>Kontakta oss gärna om ni hittar något som behöver åtgärdas.</p>
    </div>

    
</div>
