@{
    ViewData["Title"] = "Prov";
}
<link rel="stylesheet" href="~/css/Test.css" asp-append-version="true" />
<div class="test-intro-container">
        <h1>Välkommen till avsnittsprovet!</h1>
        <h2>@Model.TestInfo.Name</h2>
        <p>@Model.TestInfo.Description</p>

        <div class="button-container">
        <button aria-label="Gå tillbaka till Avsnitt" id="back-btn" onclick="history.back()">Gå tillbaka till Avsnitt</button>
        <button id="start-btn" aria-label="Starta prov" onclick="location.href ='@Url.Action("Questions", "Test", new { chapterId = ViewBag.ChapterId, episodeId = Model.TestInfo.EpisodeId, testId = Model.TestInfo.Id })'">Starta prov</button>
        </div>
    
</div>